@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Headline styling  */

.header {
  background-color: #3c3a39;
  color: #fff;
  padding: 10px 24px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.headline {
  position: relative;
  background-color: #1c1a19;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
}

.headline-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-header {
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0 24px;
}

.profession {
  color: #fff5e1;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin: 0 24px;
}

.description {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px;
  color: #fff;
}

.social-media {
  width: 200px;
  height: 40px;
  margin-left: 24px;
  margin-bottom: 130px;
}

.social-media-links {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 9px 9px;
}

.illustration-header-mobile {
  position: absolute;
  right: 0%;
  bottom: -8%;
  z-index: 1;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 24px;
  row-gap: 64px;
  margin-bottom: 120px;
  box-sizing: border-box;
}

.works_heading {
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 52px;
  margin-bottom: 80px;
  margin-left: 24px;
  margin-right: 24px;
  border-bottom: 1px solid #212121;
  padding-bottom: 50px;
}

.multi_post {
  display: flex;
  flex-direction: column;
}

.multi_post_img_mobile {
  height: 237px;
  width: 327px;
  left: 24px;
  top: 0;
  border-radius: 0;
  margin-bottom: 24px;
}

.multi_post_heading {
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 12px;
  color: #091e42;
}

.multi_postproject_description {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 12px;
}

.used_technology_multi_post {
  display: flex;
  list-style: none;
  gap: 12px;
  padding-left: 0;
  margin-bottom: 22px;
  margin-top: 0;
}

.used_technology_multi_post li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  color: #000;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.project_description_multi_post {
  margin-right: 16px;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-bottom: 12px;
}

.see_project_multi_post {
  width: 80%;
  height: 48px;
  background-color: #ff6b00;
  border: 0;
  color: #fff;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
}

.work_card {
  display: flex;
  flex-direction: column;
  background-image: url("img/Img_placeholder_2.png");
  background-size: 100% 100%;
  position: relative;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 1.5s;
  transition-delay: 0.25s;
}

.project_heading {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 84px;
  margin-bottom: 12px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.project_description {
  margin-left: 16px;
  margin-right: 16px;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.used_technology {
  display: flex;
  list-style: none;
  gap: 12px;
  margin-left: 16px;
  padding-left: 0;
  margin-bottom: 22px;
  margin-top: 0;
}

.used_technology li {
  border: 0 #3c3a39 solid;
  padding: 10px 12px;
  background: #ffffff3d;
  color: #fff;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.see_project {
  width: 100%;
  background-color: #ff6b00;
  border: 0;
  color: #fff;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 12px 113.5px;
}

.about_myself {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-color: #1c1a19;
  align-items: flex-start;
}

.about_me {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_myself_heading {
  font-family: "Crete Round", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0 24px;
  padding-top: 120px;
  margin-bottom: 24px;
  margin-top: 0;
}

.about_me_description {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px;
  color: #fff;
  margin-bottom: 24px;
}

.get_my_resume {
  width: 50%;
  background-color: #ff6b00;
  border: 0;
  color: #fff;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  margin-left: 24px;
}

.about_myself_line {
  border-bottom: 1px solid #fff;
  width: 80%;
  margin: 0 30px;
  margin-bottom: 136px;
  margin-top: 209px;
}

.about_me_illustration_mobile {
  position: absolute;
  bottom: -180px;
  right: 0;
}

.technologies,
.technologies li {
  list-style: none;
  color: #fff;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  width: 100%;
  padding-left: 0;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 132px;
}

.languages,
.skills,
.frameworks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  padding-left: 0;
}

.languages li:first-child,
.skills li:first-child,
.frameworks li:first-child {
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

.languages li:first-child img,
.skills li:first-child img,
.frameworks li:first-child img {
  margin-right: 14px;
}

.frameworks li:first-child {
  margin-right: 20px;
}

.skills li:first-child {
  margin-right: 40px;
}

button:hover {
  color: #f55800;
  border: 1px #f55800 solid;
  background-color: #fff5e1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_section {
  padding: 120px 24px 0 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 2px #dfe1e6 solid;
}

.contact_section h3 {
  color: #172b4d;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 72px;
  margin-bottom: 124px;
}

.email,
.full_name {
  border: none;
  padding: 12px;
  width: 327px;
  border-bottom: 1px solid #000;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.contact_form hr {
  color: #dbd8d7;
  margin-bottom: 0;
  width: 327px;
}

.message {
  width: 327px;
  height: 114px;
  resize: none;
  padding: 12px;
  border: none;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

input::placeholder {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.message::placeholder {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.submit_button {
  width: 35%;
  background-color: #ff6b00;
  border: 0;
  color: #fff;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
}

.social-media-footer {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Hiddent components for mobile verstion */
@media (max-width: 995px) {
  /* header illustration of the desktop version is hidden for mobile version */
  .illustration-header-desktop {
    display: none;
  }

  /* multipost place holder image for desktop version is hidden for mobile version */

  .multi_post_img_desktop {
    display: none;
  }

  /* about me illustration of desktop version is hidden for mobile version */
  .about_me_illustration_desktop {
    display: none;
  }

  /* The menu for desktop is hidden for mobile version */
  .desktop_menu {
    display: none;
  }

  .main_menu {
    display: none;
  }
}

/* Styling for desktop vesrion */

@media (min-width: 995px) {
  body {
    overflow-x: hidden;
  }

  .main-header {
    font-size: 72px;
    line-height: 81px;
  }

  .header {
    height: 72px;
    width: 100%;
    padding: 0 154px;
    position: fixed;
    z-index: 1;
  }

  .header .nav {
    height: 100%;
  }

  .menu-icon {
    display: none;
  }

  .desktop_menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 32px;
  }

  .desktop_menu li {
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    height: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .nav .logo {
    font-size: 20px;
    line-height: 20px;
  }

  .illustration-header-mobile {
    display: none;
  }

  .headline {
    position: relative;
    padding-top: 192px;
    flex-direction: row-reverse;
    padding-bottom: 256px;
    justify-content: flex-end;
  }

  .illustration-header-desktop {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .works_heading {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 114px;
    font-size: 45px;
    line-height: 52px;
    border-bottom: none;
  }

  .horizontal_line {
    border-bottom: 1px solid #212121;
    width: 65%;
    margin-left: 20px;
  }

  .social-media-links {
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
  }

  .description {
    font-size: 20px;
    line-height: 32px;
  }

  .headline-text {
    width: 566px;
    gap: 24px;
    margin-left: 90px;
  }

  .social-media {
    width: 18px;
    align-self: center;
  }

  .works {
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 37px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 130px;
  }

  .work_card {
    height: 435px;
    width: 100%;
  }

  /* work card animation */
  .work_card:hover {
    left: 5px;
    bottom: 5px;
  }

  .first_card,
  .card {
    justify-content: flex-end;
    background-size: 100% 100%;
  }

  .card .see_project {
    opacity: 0;
  }

  .card .see_project:hover {
    display: block;
    opacity: 1;
  }

  .card .see_project {
    opacity: 0;
  }

  .hover-effect {
    padding-top: 100px;
  }

  .hover-effect:hover {
    opacity: 0;
  }

  .see_project:hover {
    opacity: 1;
  }

  .hover-effect:hover + .see_project {
    display: block;
    opacity: 1;
  }

  .multi_post {
    grid-column: 1/4;
    grid-row: 1/2;
    flex-direction: row;
    gap: 24px;
  }

  .see_project_multi_post {
    width: 30%;
  }

  .multipost_descrption {
    display: flex;
    flex-direction: column;
    gap: 24px;

    /* width: 30%; */
  }

  .multi_post_img_mobile {
    display: none;
  }

  .multi_post_img_desktop {
    width: 60%;
    height: auto;
    left: 24px;
    top: 0;
    border-radius: 0;
    margin-bottom: 24px;
    margin-right: 24px;
  }

  .multi_postproject_description {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .multi_post_heading {
    font-size: 40px;
    line-height: 52px;
  }

  .about_myself {
    padding: 0 143px;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 100%;
  }

  .about_me {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 0;
    margin-bottom: 40px;
    width: 100%;
  }

  .aboutme_description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;
    width: 616px;
    margin-right: 50px;
  }

  .about_myself_heading {
    font-size: 82px;
    line-height: 86px;
    letter-spacing: 2.5px;
  }

  .about_me_description {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.4px;
  }

  .get_my_resume {
    width: 30%;
  }

  .about_me_illustration_mobile {
    display: none;
  }

  .about_me_illustration_desktop {
    position: absolute;
    right: -20%;
    bottom: 0;
  }

  .about_myself_line {
    border-bottom: 1px solid #fff;
    padding: 0;
    margin-bottom: 150px;
    width: 100%;
  }

  .technologies {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
  }

  .technologies ul {
    align-items: flex-start;
  }

  .contact_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    padding: 0 125px;
    padding-bottom: 154px;
  }

  .contact_section h3 {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    padding: 0;
    margin-top: 25px;
  }

  .contact_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    margin-right: 140px;
    padding: 0;
  }

  .full_name,
  .email {
    border-bottom: 1px solid #000;
    padding: 16px;
    width: 130%;
  }

  .submit_button {
    width: 42%;
  }

  .message {
    grid-row: 3/4;
    grid-column: 1/-1;
    padding: 16px;
    width: 130%;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    font-size: 20px;
  }

  .social-media-footer {
    flex-direction: row;
  }
}
